<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href=
            "{{ url_for('static',filename='main.css') }}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title> Find the Bern{% block title %} {% endblock %}</title>
    {% block top %} {% endblock %}
</head>

<body>
<div id="wrap">
    <!--     Fixed navbar -->
    <div class="tiptop">
        <h4><a href="/" style="color:black">Find the Bern</a></h4>
    </div>

    <div id="content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted" style="text-align:center; padding-top:18px">
            There is no copyright &copy;. &ensp; <a
                href="https://github.com/suzannenie/">
            <i class="fa fa-github" style="font-size:20px"></i> suzannenie
        </a>
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
{% block scripts %} {% endblock %}
<script type="text/javascript"
        src="{{url_for('static', filename='main.js')}}">
</script>

</body>
</html>

