{% extends "base.html" %}
{% block title %}{% endblock %}
{% block top %}

{% endblock %}

{% block content %}
<br>
<div class="center">
    <div id="home">
        <div class="row align-items-center">
            <div class="col-auto">
                <label for="name_input" class="col-form-label">Input
                    Your Name</label>
            </div>
            <div class="col-auto">
                <input type="name" id="name_input" class="form-control"
                       style="width:35vw;" required>
            </div>
            <div class="col-auto">
                <span class="form-text">or nickname who's checking</span>
                <div id="empty" style="color:blue; display:none">put a name
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <button type="button" class="btn btn-secondary"
                            onclick="toFind()">
                        Find Bern :D
                    </button>
                    <br>competitive mode for those feeling spicy
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-secondary"
                            style="background-color: $pink-500">Hide
                        Your Own Bern
                    </button>
                    <br>creative mode if you're feeling aRtsY
                </div>
            </div>
        </div>

        <br>
        <!-- Slideshow container -->
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img1.jpeg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img2.jpg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img3.jpeg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img4.jpg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img5.jpg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img6.jpg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img7.jpg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img8.png')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img9.jpg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img10.jpg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img11.jpeg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img12.jpg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img13.jpg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img14.jpg')}}"/>
        <img class="slides" src="{{url_for('static',
        filename='slideshow/img3.jpeg')}}"/>

    </div>
</div>

<div id="game" style="display:none">
    <div class="row">
        <div class="column left">
            Goal: find Bernie the fastest
            <br><br>
            <div id="your_score"></div>
            <h6>Leaderboard</h6>
            <div id="leaderboard"></div>
        </div>
        <div class="column right fill">
            <div class="levels">
                <img src="../static/finding/find10.jpg" usemap="#image_map10"
                     style="width:800px;height:auto;">
                <map name="image_map10">
                    <area class="found" href="" coords="240,173,271,234"
                          shape="rect">
                </map>
            </div>
            <div class="levels">
                <img src="../static/finding/find5.jpg" usemap="#image_map5"
                     style="width:700px;height:auto;">
                <map name="image_map5">
                    <area class="found" href="" coords="509,313,537,360"
                          shape="rect">
                </map>
            </div>
            <div class="levels">
                <img src="../static/finding/find4.jpg" usemap="#image_map4"
                     style="width:800px;height:auto;">
                <map name="image_map4">
                    <area class="found" href="" coords="734,239,774,297"
                          shape="rect">
                </map>
            </div>
            <div class="levels">
                <img src="../static/finding/find3.jpg" usemap="#image_map3"
                     style="width:700px;height:auto;">
                <map name="image_map3">
                    <area class="found" href="" coords="221,254,252,300"
                          shape="rect">
                </map>
            </div>
            <div class="levels">
                <img src="../static/finding/find2.jpg" usemap="#image_map2"
                     style="width:700px;height:auto;">
                <map name="image_map2">
                    <area class="found" href="" coords="381,316,459,499"
                          shape="rect">
                </map>
            </div>
            <div class="levels">
                <img src="../static/finding/find1.jpg" usemap="#image_map1"
                     style="width:800px;height:auto;">
                <map name="image_map1">
                    <area class="found" href="" coords="20,270,75,450"
                          shape="rect">
                </map>
            </div>

        </div>
    </div>
    <br>

</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript"
        src="{{url_for('static', filename='home.js')}}"></script>
{% endblock %}
